@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #1A1A1A;
    --primary-light: #f5f6fa;
    --muted-grey: #4e4e4e;
    --header-back: #009BCD66;
    --heading-font: "Open Sans", sans-serif;
    --text-font: "Inter", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.5;
}
body {
    background-color: var(--primary-light);
}
.container {
    font-family: var(--text-font);
    color: var(--primary-color);
    width: 83%;
    margin: 0 auto;
    text-align: center;
}
header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    font-size: 36px;
    background-color: var(--header-back);
    padding: 3rem 10rem;
    width: 100%;
}
header h1 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 40px;
}
.short_description {
    margin-top: 1rem;
    text-align: left;
    font-size: 20px;
    width: 100%;
}
.image_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;    
    margin: 1rem 0;
}
.my_image img {
    max-width: 100%;
    height: auto;
}
.contact_images li {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    color: var(--muted-grey);
    font-size: 24px;
}
.contact_images i {
    font-size: 60px;
    margin: 4rem 2rem;
}
.Experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    margin: 2rem 0;
}
.work h2 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.education h2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.JW, .wesmo, .tktk, .ametikool {
    margin: 1rem 0;
}
.skills h2 {
    grid-column: 1/4;
    grid-row: 1/2;
}
.iamgoodat {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}
.iamgoodat li {
    line-height: 3;
    text-align: center;
}
footer {
    width: 100%;
    margin-top: 3rem;
    text-align:center;
    background-color: var(--header-back);
}
.social-media-links {
    width: 75%;
    padding: 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    font-size: 60px;
    color: var(--muted-grey)
}
.contact-links {
    width: 80%;
    padding: 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
.contact-links li a, .copyright {
    text-decoration: none;
    color: var(--muted-grey);
    font-size: 18px;
}
hr {
    width: 500px;
    height: 4px;
    border: none;
    border-top: 4px solid var(--muted-grey);
    border-radius: 10px;
    margin: 0 auto;
}
@media (max-width: 480px){
    header{
        padding: 1rem 1rem;
    }
    .container{
        width: 100%;
        padding: 1rem;
    }
    .image_container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto)
    }
    .my_image {
        grid-row: 1/2;  
    }
    .Experience {
        grid-template-columns: 1fr;
    }
    .iamgoodat li {
        text-align: center;
    }
    .contact_images i {
        margin: 1rem 0;
    }
}